body {
    background-image: url(../images/bipbupblack.png);
    background-size: cover;
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#toggleSnow {
      position: fixed;
      top: 20px;
      font-family: Unbounded;
      font-weight: bold;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 15px;
      color: white;
      transition: transform 0.3s;
    }

    #toggleSnow:hover {
      transform: scale(1);
    }

    .snowflake {
      position: fixed;
      top: -10px;
      color: white;
      font-size: 1em;
      user-select: none;
      pointer-events: none;
      opacity: 0;
      animation: fall linear infinite, fadeIn 1.5s forwards;
    }

    @keyframes fall {
      to {
        transform: translateY(100vh);
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      to {
        opacity: 0;
      }
    }

.links {
    max-width: 600px;
    padding: 20px;
}

.links p {
    font-size: 18px;
    margin: center;
    color: #ffffff;
}

.vk {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.tg {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.yt {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.chattg {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.da {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.ds {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.twitch {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.player {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.zakonka {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
}

.pamyatki {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #00ffaa;
    border-radius: 35px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.links h1 {
    animation: float 3s infinite ease-in-out;
}