body {
    background-image: url(../images/bipbupblack.png);
    background-size: cover;
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links {
    max-width: 600px;
    padding: 20px;
}

.links p {
    font-size: 18px;
    margin: center;
    color: #ffffff;
}

.vk {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.vk:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.tg {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.tg:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.yt {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.yt:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.chattg {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.chattg:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.da {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.da:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.ds {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.ds:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.twitch {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.twitch:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.player {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.player:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.zakonka {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.zakonka:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.pamyatki {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 10px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    border-radius: 35px;
    font-size: 18px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.pamyatki:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.backliquid {
    display: inline-block;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 15px 20px;
    margin-top: 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.backliquid:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}