body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(../images/bipbupblack.png);
    background-size: cover;
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome {
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.home {
    display: inline-block;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.home:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

button {
    display: inline-block;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.paper {
    font-size: 18px;
    text-decoration: none;
    margin: center;
    color: #ffffff;
}