body {
    background-image: url(../images/bipbupblack.png);
    background-size: cover;
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container {
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    border-radius: 35px;
    padding: 15px 10px;
    margin-top: 200px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

.textform {
    font-size: 15px;
    color: #fff;
}

.textformerror {
    font-size: 15px;
    color: #ff0000;
}

.login-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-container button {
    display: inline-block;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.login-container button:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.login-container a {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    color: #ffffff;
}
