body {
    background: radial-gradient(circle at center, #011f23 0%, #000a0a 50%, #000000 100%);
    min-height: 100vh;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.player {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.player h1 {
    font-size: 30px;
    margin: 30px 0 15px;
    line-height: 1.2;
    display: inline-block;
}

.player p {
    font-size: 15px;
    margin: 10px 0;
}

.backliquid {
    display: inline-flex;
    background: rgba(109, 109, 109, 0.24);
    color: white;
    padding: 12px 24px;
    margin: 20px auto;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.backliquid:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.15);
}

iframe {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin-bottom: 20px;
    border: none;
}

@media (max-width: 600px) {
    .player h1 {
        font-size: 24px;
        margin-top: 20px;
    }

    .player p {
        font-size: 14px;
    }

    .backliquid {
        font-size: 16px;
        padding: 10px 20px;
        width: 100%;
        max-width: 250px;
        box-sizing: border-box;
    }
}