body {
    background: radial-gradient(circle at center, #011f23 0%, #000a0a 50%, #000000 100%);
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.floating-home-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 14px 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flex;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.floating-home-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

.bigbip {
    max-width: 600px;
    padding: 20px;
}

.bigbip h1 {
    font-size: 100px;
    margin: 200px 0px 0px;
    line-height: 1;
    color: white;
    position: center;
    display: inline-block;
}

.adv {
    text-decoration: none;
}

.home {
    display: inline-block;
    background: linear-gradient(135deg, #6d6d6d3d, #6d6d6d3d);
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.171);
    transition: all 0.3s ease;
    z-index: 9999;
    display: flexbox;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.home:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.171);
    background: linear-gradient(135deg, #6d6d6d3d, #ffffff3d);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bigbip h1 {
    animation: float 3s infinite ease-in-out;
}

#controls {
            position: fixed;
            top: 60px;
            right: 10px;;
            padding: 14px 10px;
            display: flex;
            gap: 10px;
        }

        #snow-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 5;
        }

        .snowflake {
            position: absolute;
            background: white;
            border-radius: 50%;
            opacity: 1;
            animation: fall linear infinite;
        }

        @keyframes fall {
            to {
                transform: translateY(90vh);
            }
        }