body {
    background-image: url(../images/bipbupblack.png);
    background-size: cover;
    opacity: 100%;
    font-family: "Unbounded", serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#toggleSnow {
      position: fixed;
      font-family: Unbounded;
      font-weight: bold;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 15px;
      color: white;
      transition: transform 0.3s;
    }

    #toggleSnow:hover {
      transform: scale(1);
    }

    .snowflake {
      position: fixed;
      top: -10px;
      color: white;
      font-size: 1em;
      user-select: none;
      pointer-events: none;
      opacity: 0;
      animation: fall linear infinite, fadeIn 1.5s forwards;
    }

    @keyframes fall {
      to {
        transform: translateY(100vh);
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      to {
        opacity: 0;
      }
    }

.bigbip {
    max-width: 600px;
    padding: 20px;
}

.bigbip h1 {
    font-size: 100px;
    margin: 200px 0px 0px;
    line-height: 1;
    color: white;
    position: center;
    display: inline-block;
}

.adv {
    text-decoration: none;
}

.home {
    display: inline-block;
    text-decoration: none;
    padding: 15px 150px;
    margin-top: 10px;
    background-color: #6d6d6d3d;
    color: #ffffff;
    border-radius: 35px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home:hover {
    background-color: #00000077;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bigbip h1 {
    animation: float 3s infinite ease-in-out;
}